<!DOCTYPE html>
<html>
    <head>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Novena- Health Care &amp; Medical template</title>

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Health Care Medical Html5 Template">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <meta name="author" content="Themefisher">
        <meta name="generator" content="Themefisher Novena HTML Template v1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>

        <!--
        Essential stylesheets
        =====================================-->

        {% block stylesheets %}
            <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
            <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
            <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

            <!-- Main Stylesheet -->
            <link rel="stylesheet" href="css/style.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navigation" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="/rechnungs">
                    <img src="images/logo.png" alt="" class="img-fluid">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                        aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icofont-navigation-menu"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarmain">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/kunden">Kunden verwalten</a></li>
                        <li class="nav-item"><a class="nav-link" href="/produkt">Produkte verwalten</a></li>
                        <li class="nav-item"><a class="nav-link" href="/firma">Firmendaten verwalten</a></li>
                        <li class="nav-item"><a class="nav-link" style="background-color:mediumspringgreen" href="/rechnungspositions">Rechnungen
                                erstellen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
